/*common
.cm-a
{
    cursor:pointer;
    }
.cm-table
{
    width:1000px;
    font-size:1em;
    margin:0 0 0 10%;
    }
.cm-table-cl
{
    float:left;
    height:30px;
    text-align:center;
    }
.cm-table-ncl
{
    border-left:2px solid #AAAAAA;
    }
.cm-table-rw
{
    border: 1px solid #AAAAAA;
    height:29px;
}*/
.button:hover /*add hover to button*/
{
    border: 1px solid #999999;
    color: #212121;
    font-weight: normal;
    }
    /*table hold data*/
    .table_username
    {
        width:110px;
        text-align:left;
        }
    .table_fullname
    {
        width:260px;
        text-align:left;
        }
    .table_email
    {
        width:260px;
        text-align:left;
        }
    .table_status
    {
        width:25px;
        text-align:left;
        }
    .table_delete
    {
        }
/*header*/
.cm-tool-header    
{
    min-width:800px;
    margin: 50px 0 10px;
    padding: 0 20% 0 10%;
    }
/*dialog*/
.cm-dialog-config
{
    font-size:0.8em;
    }
/*search*/
.cm-button-search
{
    float: right;
    font-size: 0.8em;
    height: 1.95em;
    width: 6em;
    }
.cm-textbox-search
{
    float: right;
    font-size: 0.8em;
    height: 1.5em;
    padding:3px;
    }
.clear
{
    clear:both;
    }
/*New Account*/
.newaccount_table{
	width:400px;
	float:left;
	position:absolute;
	z-index:0;
	margin:10px 10% 0px 10%;
	font-family:Verdana,Arial,sans-serif;
	font-size:1em;
}
.newaccount_lf{
	width:150px;
	float:left;
	margin:0 0 10px 0;
}
.newaccount_rg{
	width:190px;
	float:left;
    margin:0 0 10px 0;
}
.rw-control
{
    width:400px;
	float:left;
	margin:30px 10% 10px 10%;
    font-family:Verdana,Arial,sans-serif;
	font-size:0.8em;
    }
.new-account-input
{
    height:20px;
    padding: 2px 5px;
    }
.uploadProcess
{
    width:70%;
    height:50%;
    background: rgba(255, 255, 255, 0.5);
    position:absolute;
    z-index:1;
}
.uploadProcess_image
{
    margin: 20% 0 0 45%;
}