<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="strConnection" value="Data Source=112.78.2.58;Initial Catalog=nhanduc_GPSDatabase;User ID=nhanduc_gps;Password=duonglong;Connect Timeout=500" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
