/*Common*/
body
{
    font-size:65%;
    }
/*Custom css*/
.ui-controller
{
    background-image: url("../Images/control_bg.jpg");
    width:400px;
    min-height:550px;
    height:99%;
    max-height:600px;
    float:left;
    position:absolute;
    }
.ui-controller-showPanel
{
    float:left;
    position:absolute;
    }
.ui-corner-all
{
    /*bo goc lai voi CSS*/
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    }
.ui-controller-maincontent
{
    margin: 60px 0px 0px 0px;
    height:172px;
    width:366px;
}
.ui-controller-label
{
    width:100px;
    float:left;
}
.ui-controller-component
{
    width:190px;
    float:left;
    }
.ui-controller-line
{
    margin:0 10px 10px 40px;
    height:30px;
    }
.ui-Controller-button
{
    padding:10px 10px 30px 50px;
    }
/*--------------------Override------------------*/
            /*Common--------------------------*/
input .text    
{
    margin-bottom: 12px;
    padding: 0.4em;
    width: 95%;    
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.2em;
}
            /*DataPicker------------------------*/
.ui-datepicker-trigger
{
    float:right;
    cursor:pointer;
    }
.hasDatepicker
{
    margin-bottom: 12px;
    padding: 0.4em;
    width: 50%;
    -moz-border-radius: 4px 4px 4px 4px; 
    }
        /* compobox---------------------------*/    
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: 4px;
    text-indent: -1e+7px;
}
.ui-autocomplete-input  
{
    margin: 0; 
    padding: 0.48em 0 0.47em 0.45em; 
}
/*Tab----------------------------*/
.ui-widget-header 
{
    background:none;
    border:none;
    }
.ui-tabs .ui-tabs-panel 
{
    background-image:url("../Images/panel_bg.gif");
    padding: 4em 1.4em;
    }