.infowindows_table{
	float:left;
	width:250px;
	font:normal normal normal 1.4em Sans-serif;
}
.infowindows_table_lf{
	float:left;width:100px
}
.infowindows_table_rg{
	float:left;width:100px
}
