<?xml version="1.0" encoding="utf-8" ?>
<website.config>
  <title>Website GPS System</title>
  <languagle>en-US</languagle>
  <timeZone>+7UTC</timeZone>
  <author></author>
  <copyright>Copyright 2011 by ......</copyright>
</website.config>